@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Mona Sans;
    src: url("/fonts/MonaSans-Bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: Mona Sans;
    src: url("/fonts/MonaSans-Regular.woff2") format("woff2");
    font-weight: normal;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
