@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Mona Sans;
    src: url("/fonts/MonaSans-Bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: Mona Sans;
    src: url("/fonts/MonaSans-Regular.woff2") format("woff2");
    font-weight: normal;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    body {
        @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))];
    }

    /* Custom scrollbar - Webkit browsers */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-gray-900;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-purple-900;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-purple-800;
    }
    /* Custom scrollbar - Firefox */
    @-moz-document url-prefix() {
        * {
            scrollbar-width: thin;
            scrollbar-color: theme("colors.purple.900") theme("colors.gray.900");
        }
    }
}
