@import url("https://fonts.googleapis.com/css2?family=Stick&display=swap");

@font-face {
    font-family: Jetbrains Mono;
    src: url("/fonts/JetBrainsMono-Medium.woff2");
}

:root {
    font-family: Stick, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #161729;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

code {
    font-family: "Jetbrains Mono", monospace;
    font-size: 1.5rem;
    color: #999;
    letter-spacing: 0.1rem;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}

.image {
    transition: transform 0.5s ease;
}

.image:hover {
    transform: rotate(-60deg);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.branding > img {
    border: 0px solid rgb(9, 9, 9);
    border-radius: 16px;
    width: 80%;
    max-width: 800px;
}

.branding-site {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
}
