@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Custom scrollbar - Webkit browsers */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-indigo-900;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-indigo-500;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-indigo-400;
    }
    /* Custom scrollbar - Firefox */
    @-moz-document url-prefix() {
        * {
            scrollbar-width: thin;
            scrollbar-color: theme("colors.indigo.500")
                theme("colors.indigo.900");
        }
    }
}
